@import './styles/custom.css';

/* Base root configuration */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--rc-bg-dark);
  color: var(--rc-text-main);
  width: 100%;
}
